/* PART 0 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: rgb(0, 0, 0);
    --txt-color: rgb(255, 255, 255);
}

/* PART I */

#main {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);
    color: var(--txt-color);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#wrapper {
    display: flex;
    flex-flow: column;
}

a {text-decoration: none;}
a:hover {text-decoration: underline;}